* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    margin: 0;
    font-family: Georgia;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: navy;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.hero {
    text-align: center;
    padding: 130px 20px;
    color: white;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 16px;
    margin-bottom: 25px;
}

.hero button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
}

.about {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
    background-color: white;
}

.about h2 {
    font-size: 26px;
    margin-bottom: 12px
    background-color: white;
}

.about p {
    color: black;
}

.skills {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
    color: white;
}

.skills-list {
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.projects {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 18px;
}

.project-card {
    background-color: #f5f5f5;
    color: black;
    padding: 16px 26px;
    border-radius: 8px;
}

.contact {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 18px;
}

.contact-btn {
    background: navy;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 25px;
    background: white;
    color: black;
}

@media (max-width: 768px) {

    .menu a {
        font-size: 12px;
        white-space: nowrap;
    }

    .project-list {
        flex-direction: column;
    }
}
